.footer {
    height: 200px;
    width: 100vw;
    background-image: linear-gradient(to bottom right, grey, lightslategray);
    display: flex;
    justify-content: space-around;
    z-index: 3;
    flex-direction: row;
    align-items: flex-end;
}
.footer-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer p, .footer h3, .footer a {
    color: white;
    margin: 0px 0px 6px 0px;
    font-family: system-ui;
}
.footer p {
    cursor: pointer;
    text-align: left;
}
.os img {
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}
.github {
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.s-column{
    z-index: 1;
}
.team {
    display: flex;
    width: 25%;
    justify-content: flex-start;
    margin-left: 1%;
    margin-bottom: 1%;
}
.aus {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    margin-bottom: 1%;
}
.githubdiv {
    display: flex;
    justify-content: center;
    height: 95%;
    width: 10%;
    margin-top: 1%;
}
.cus {
    display: flex;
    width: 25%;
    justify-content: flex-start;
    margin-bottom: 1%;
}
.inutile {
    width: 30%;
}