body, * {
    margin: 0;
    padding: 0;
    font-family: cursive;
    color: black;
    text-decoration: none;
    overflow-x: hidden;
    z-index: 1;
}
.page-index {
    width: 100vw;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    transform: translate(0px, 130px);
    height: 100px;
}
.allTopics {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 3%;
}
.Topics {
    margin: 10px 15px 15px 15px;
    border-radius: 10px;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 40px;
    width: 61vw;
    border: #aaa 5px ridge;
    overflow: hidden;
}
.topics {
    width: 63vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    border: black 3px solid;
    border-radius: 15px;
    height: 80%;
    align-items: flex-start;
}
.AccName {
    height: 100px;
    min-width: 6%;
    align-items: center;
    display: flex;
    padding-left: 10px;
}
.AccText {
    width: 85%;
    font-family: monospace;
    font-size: 15px;
    overflow-wrap: break-word;
}
.border {
    border: black 1px solid;
    height: 100px;
}
.DeletCom {
    padding-top: 5px;
    margin-left: 16px;
}
.inputTopic {
    text-align: center;
    padding-top: 1%;
    margin-bottom: 3%;
    margin-left: 19%;
    width: 62vw;
}
.connectinput {
    text-align: center;
    font-size: 20px;
    padding-top: 8%;
    margin-bottom: 3%;
}
.noComment {
    text-align: center;
    margin-top: 10%;
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
}
.inputTextCom {
    width: 52vw;
}
.inputsubCom {
    width: 9vw;
}
.pp {
    width: 40%;
    display: inline;
    width: 100%;
    object-fit: cover;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    min-height: 150px;
    border: dotted;
}
.Like-container {
    padding-top: 7%;
    margin-left: 22%;
    display: flex;
    column-gap: 0.5%;
}
.Like {
    font-size: 18px;
}