{{define "SingleTopic"}}
{{ $length := len .Content}}
{{$Role := .Login.Account.Role}}
{{if ge $length 1}}
    <div class="allTopics">
        <div class="topics">
            {{range .Content}}
                {{if or (eq $Role "Admin") (eq $Role "Moderator")}}
                <form action="/DeletCom" method="POST" class="DeletCom">
                    <input type="hidden" value="{{.Written}}" name="TimeStamps">
                    <input type="submit" value="Delete">
                </form>
                {{end}}
                <div class="Topics">
                    
                    <a href="/user_account?Uuid={{.Uuid}}&state=user_account" class="AccName">{{.Name}}</a>
                    <p class="border"></p>
                    <p class="AccText">{{.Text}}</p>
                    {{if ne .Picture ""}}<a href="../assets/image/post/{{.Picture}}">Linked pick</a>{{end}} <!-- add a link if the comment come with a picture -->
                </div>
            {{end}}
        </div>
    </div>
{{else}}
<div class="noComment">
    <p>There is no comment in this topic right now</p><br>
<p>be the first to write a comment</p>
</div>

{{end}}
<script type="text/javascript" src="../assets/js/singleTopic.js"></script>
{{end}}

{{define "Topics"}}
    {{ $length := len .Name}}
    {{if ge $length 1}}
    <div class="allTopics">
        <div class="topics">
            {{range .Name}}
            <form method="GET" action="/singleTopics" class="top">
                <input type="hidden" value="{{.Id}}" name="IdTopics">
                <input type="hidden" value="SingleTopic" name="State">
                <button>
                    <div class="Topics">
                        <input class="category" type="hidden" value="{{.Category}}">
                        <p>{{.Title}}</p>
                        <p>{{.Desc}}</p>
                    </div>
                    <div class="beau">
                    <p class="Like">Created the : {{.CreationDate}} by <a href="/user_account?state=user&name={{.Creator}}">{{.Creator}}</a></p>
                    <p class="Like">Like : {{.Like}}</p>
                    </div>
                </button>
            </form>
            {{end}}
        </div>
    </div>
    {{end}}
    <script type="text/javascript" src="../assets/js/Topics.js"></script>
{{end}}

{{define "singleAccount"}}
{{ $length := len .Data}}
        {{if ge $length 1}}
        <div class="allAccount">
            <div class="account">
                {{range .Data}}
                <form action="/user_account" method="GET">
                    <input type="hidden" value="{{.Uuid}}" name="Uuid">
                    <input type="hidden" value="user_account" name="state">
                    <button>
                        <div class="Account">
                            <div class="nomcmpt">
                                <h3>Nom du compte : </h3>
                                <p>{{.Name}}</p>
                            </div>
                    </div>
                    </button>
                    

                </form>
                {{end}}
            </div>
        </div>
        {{end}}
{{end}}

{{define "ComAccount"}}
<div class="divtest">
    {{range $test, $value := .Commentaires}}
    {{if lt $test 5}}
    <form action="/singleTopics" method="POST" class="formcom">
        <input type="hidden" name="IdTopics" value="{{.Id}}">
        <input type="hidden" name="State" value="SingleTopic">
        <div class="less-essential2">
            <p>{{.Uuid}} : {{index .Text}}</p>
        </div>
        <input type="submit">
    </form>
    
    {{end}}
    {{end}}
</div>
{{end}}