
{{define "login"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="icon" sizes="16x16" href="./assets/image/Icon/Logo.png"> 
    <title>Project Forum</title>
</head>

<body>
    {{template "header" .}}
    <div class="page-index">
        <div class="title">
            <h1>Project Forum login</h1>
            <h2>Talk with your friend there</h2>
        </div>
        <div class="switch">
            <p class="noAcc">You don't have an account ?</p>
            <a href="/register" class="button">Click there to Create an account</a>
        </div>
        <div class="place">
            <div class="message">
                <p>Connect to your account with</p>
                <br>
                <p>Account Email</p>
                <p>Account Password</p>
                {{if .Miss}}
                <br>
                <h4 style="color: red;">There where an error with the login information</h4>
                {{end}}
            </div>
            <div class="form">
                <div class="name">
                    <p class="Inname">Email</p>
                    <p class="Inname">Password</p>
                    <br>
                </div>
                <form action="/connect" method="GET" class="FormBlock">
                    <input type="text" name="Email" required>
                    <input type="password" name="Password" required>
                    <input type="submit" value="Login In" class="FormBlockInput">
                </form>
            </div>
        </div>
    </div>
    
    {{template "footer" .}}
</body>

</html>
{{end}}

<!--
    Template for register
-->
{{define "register"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/register.css">
    <link rel="icon" sizes="16x16" href="./assets/image/Icon/Logo.png"> 
    
    <title>Project Forum</title>
</head>

<body>
    {{template "header" .Account}}
    <div class="page-index">
        <div class="title">
            <h1>Project Forum register</h1>
            <h2>Talk with your friend there</h2>
        </div>
        <div class="switch">
            <p class="Acc">Do you have an account ?</p>
            <a href="/login" class="button">Click there to login with an account</a>
        </div>
        <div class="place">
            <div class="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid" >A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                <p id="char" class="invalid">A <b>special character (&£$!?%...)</b></p>
            </div>
            <div class="form">
            <form action="/createAcc" method="GET">
                <div class="input">
                    <input type="text" placeholder="Name" name="Name"
                pattern="^[a-zA-Z0-9]([._-](?![._-])|[a-zA-Z0-9]){3,18}[a-zA-Z0-9]$" required>
                <input type="password" placeholder="Password" name="Password" id="pass1"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" required>
                <input type="email" placeholder="example@gmail.com" name="Email"
                pattern= "/^(|(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6})$/i" required>
                </div>
                <div class="inputbtn">
                    <input type="submit" value="Create Account" class="buttoninput">
                </div>
            </form>
        </div>
        </div>
        
    </div >
    <script src="../assets/js/password_verification.js"></script>
    {{template "footer" .}}
</body>
</html>
{{end}}