<!--
    Template for all topics
-->
{{define "topics"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/topics.css">
    <link rel="icon" sizes="16x16" href="./assets/image/Icon/Logo.png"> 
    <title>VALHQ</title>
</head>

<body>
    {{template "header" .Login}}
    {{$Role := .Login.Account.Role}}
    <div class="page-index">
        <div class="title">
            <h1>topics</h1>
            <h2>Show all topics existing on the site</h2>
        </div>
        {{if .Login.Connected}}
        <div class="inputTopic">
            <form action="/CreateTopicInfo" method="GET">
                <input type="hidden" value="CreateTopicInfo" name="State">
                <input type="submit" value="Create a topic" class="TSButton">
            </form>
        </div>
        {{else}}
        <div class="connectinput">you must be connected with an <a href="/login"><b>account</b></a> to be able to write<br>
            a comment</div>
        {{end}}
        <div class="sort">
            <div class="filter">
                <p class="selectFilter">Filter the topics by</p>
                <select class="selectFilter" id="select" onchange="select();">
                    <option value="All the topics">All the topics</option>
                    <option value="Info">Info</option>
                    <option value="Video Games">Video Games</option>
                    <option value="Music">Music</option>
                    <option value="Design">Design</option>
                    <option value="Communication">Communication</option>
                    <option value="Animation3D">Animation3D</option>
                    <option value="NSFW">NSFW</option>
                    <option value="Anime">Anime</option>
                    <option value="Manga">Manga</option>
                    <option value="" hidden selected></option>
                </select>
            </div>
            <div class="BySorting">
                <p class="BySortingText">or</p>
                <div class="ByInput">
                    <div class="buttonlike">
                    <form action="/topics" method="GET">
                    <input type="submit" value="ByLike" name="ByLikeSub">
                </form>
                    </div>
                <form action="/topics" method="GET">
                    <input type="submit" value="ByCreationDate" name="ByCreationDateSub">
                </form>
                </div>
                
            </div>
        </div>
        
        
        {{template "Topics" .}}
    </div>
    <script type="text/javascript" src="../assets/js/Topics.js"></script>
    {{template "footer" .}}
</body>

</html>
{{end}}

<!--
    Template for all topics
-->
{{define "singleTopics"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/singleTopics.css">
    <link rel="icon" sizes="16x16" href="./assets/image/Icon/Logo.png"> 
    <title>VALHQ</title>
</head>

<body>
    {{template "header" .Login}}
    {{$Role := .Login.Account.Role}}
    <div class="page-index">
        <div class="title">
            <h1>{{.Name.Title}}</h1>
            <h2>{{.Name.Desc}}</h2>
        </div>
        {{if .Login.Connected}}
        <div class="Like-container">
            <form action="/like" method="GET">
                <input type="hidden" value="{{.Name.Like}}" name="Likes">
                <input type="hidden" value="{{.Name.Liker}}" name="Liker">
                <input type="hidden" value="{{.Name.Disliker}}" name="Disliker">
                {{if eq .Name.Liked 0}}
                <input type="submit" value="👍" title="Like" name="BtnStatus">
                <input type="submit" value="👎" title="Dislike" name="BtnStatus">
                {{else if eq .Name.Liked 1}}
                <input type="submit" value="👍" title="Like" name="BtnStatus">
                {{else}}
                <input type="submit" value="👎" title="Dislike" name="BtnStatus">
                {{end}}
            </form>
            <strong class="Like">{{.Name.Like}}</strong>
        </div>
        <div class="btnpicmsg">
            <form action="/singleTopics" method="GET">
                <input type="hidden" value="{{.Name.Id}}" name="IdTopics">
                <input type="hidden" value="{{.Name.Pic}}" name="StateBool">
                <input type="hidden" value="SwitchMode" name="State">
                <input type="submit" value="Click to add picture">
            </form>
        </div>
        <div class="inputTopic">
            {{if .Name.Pic}}
            <form action="/upload_pp"  enctype="multipart/form-data" method="POST">
            {{else}}
            <form action="/singleTopics" method="GET">
            {{end}}
                <input type="hidden" value="{{.Name.Id}}" name="IdTopics">
                <input type="hidden" value="PostTopic" name="State">
                <input type="text" maxlength="480" name="text" class="inputTextCom">
                {{if .Name.Pic}}
                <input type="file" name="AddPP" accept="image/png">
                <input type="hidden" value="post" name="path">
                {{end}}
                <input type="submit"  class="inputsubCom">
            </form>
        </div>
        {{else}}
        <div class="connectinput">you must be connected with an <a href="/login"><b>account</b></a> to be able to write
            a comment</div>
        {{end}}
        {{template "SingleTopic" .}}
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}

<!--
    Template for creation Topic
-->
{{define "CreateTopicInfo"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/CreateTopicInfo.css">
    <link rel="icon" sizes="16x16" href="./assets/image/Icon/Logo.png"> 
    <title>Project Forum</title>
</head>

<body>
    {{template "header" .Login}}
    <div class="page-index">
        <div class="title">
            <h1>Create a Topic</h1>
            <h2>Create a topic</h2>
        </div>
        <div class="inputTopic">
            <div class="createTopic">
                <form action="/topics" method="GET" class="aaya">
                    <input type="hidden" value="CreateTopicInfo" name="State">
                    <input type="text" name="Title" placeholder="Type Something">
                    <input type="text" name="Description" placeholder="Description">
                    <div class="category">
                        <table>
                            <tr>
                                <td><input type="checkbox" value="true" name="Info">Info</td>
                                <td><input type="checkbox" value="true" name="Video Games">Video Games</td>
                                <td><input type="checkbox" value="true" name="Music">Music</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" value="true" name="Design">Design</td>
                                <td><input type="checkbox" value="true" name="Communication">Communication</td>
                                <td><input type="checkbox" value="true" name="Animation3D">Animation 3D</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" value="true" name="NSFW">NSFW</td>
                                <td><input type="checkbox" value="true" name="Anime">Anime</td>
                                <td><input type="checkbox" value="true" name="Manga">Manga</td>
                            </tr>
                        </table>
                    </div>
                    <input type="submit">
                </form>
                
            </div>

        </div>
    </div>
    {{template "footer" .}}
</body>

</html>
{{end}}